
QtGuiApplication5/.vs/QtGuiApplication5/v15/.suo
QtGuiApplication5/.vs/QtGuiApplication5/v15/Browse.VC.db
QtGuiApplication5/.vs/QtGuiApplication5/v15/Browse.VC.opendb
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayercontrols.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
*.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/QtGuiApp.B12702AD.tlog/CL.read.1.tlog
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayercontrols.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/moc_QtGuiApplication5.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/QtGuiApp.B12702AD.tlog/CL.command.1.tlog
QtGuiApplication5/x64/Debug/QtGuiApplication5.ilk
QtGuiApplication5/x64/Debug/QtGuiApplication5.ilk
*.tlog
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/ecaplayer.obj
QtGuiApplication5/.vs/QtGuiApplication5/v15/ipch/AutoPCH/ac5be03c3fd8a61a/ECAOPENCVWORKER.ipch
*.ipch
*.avi
*.tlog
*.tlog
*.tlog
QtGuiApplication5/x64/Release/QtGuiApplication5.exe
*.tlog
QtGuiApplication5/x64/Debug/QtGuiApplication5.exe
*.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/qrc_QtGuiApplication5.obj
*.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/moc_ecaplayer.obj
QtGuiApplication5/QtGuiApplication5/x64/Debug/main.obj
